:root {
    --primary: #0367bf;
    --bg : #cccccc;
    --font-color:#ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", Arial, Helvetica, sans-serif ;
}
body {
    background-image: url('/assets/background/moroccan-flower.png');
}
.container-navbar {
    border-bottom: 1px solid var(--primary) ;
}
.container-content {
    margin: 135px auto;
    /* max-width: 900px; */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.507);

}
/* style main content */
.container-content .image-banner img {
    width: 400px;
    height: 400px;
}
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--bg);
    flex-wrap: wrap;
}
.section1 .image-banner {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;

}
.section1 .content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex: 2;
    line-height: 1.5;
    justify-content: start;

}
.section1 .content h1 {
    background-color: #0367bf;
    padding: 5px;
    width: max-content;
    color: var(--font-color);
    border-radius: 5px;
    text-transform: capitalize;
    
}
.section1 .content p {
    color: var(--primary);
}


/* media queries */
@media (max-width: 900px) {
    .section1 {
        flex-direction: column;
    }
    .section1 .content {
        justify-content: center;
        align-items: center;
    }
    .section1 .content p {
        margin-top: 10px;

    }
    .container-content .image-banner img {
        width: 300px;
        height: 300px;
    }
}